div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  margin-left: 15px;
  height: 20px;
}

button:hover {
  background-color: blue;
  color: #fff;
}